
.modal-invite-no-project {
    .modal-body {
        padding-top: 26px;
    }
}

#modal_invite{
    .outer{
        margin-bottom: 15px;
    }
    .all-selected{
        text-align: center;
        margin-bottom: 20px;
        a{
            font-size: 16px;
            font-weight: 600;
            color: $color_skin;
            &:hover {
                color: $color_skin;
            }
        }
    }
    .invites-list p {
        &.name-project{
            font-weight: bold;
            margin-bottom: 20px;
            label {
                font-weight: 700;
                margin-bottom: 5px
            }
            > span {
                display: block;
                font-weight: 500;
                margin-left: 23px;
                font-size: $font_size_medium;
            }
        }
    }
    .invites-list {
        margin: 5px 0 30px 0;
        width: 100%;
        .list{
            height: 400px;
            .mCSB_dragger_bar{
                background: #afbbbc;
            }
            .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{
                right: -8px;
            }
        }
    }
}

.invite-no-project {
    h2 {
        margin: 0 0 18px;
        font-size: 20px;
        font-weight: 600;
        color: $color_text;
        line-height: 1.45em;
    }
    p {
        margin: 0;
        font-size: $font_size_medium;
        color: $color_text;
        line-height: 1.8em;
    }
}

.fre-modal-form {
    .invite-no-project {
        .fre-form-btn {
            margin: 34px 0 0;
        }
    }
}