.btn-custom-upload-pdf
{
    background-color:#555555;
    color:#ffffff !important;
    padding:15px 15px !important;
    line-height: 0 !important;
    text-align: center !important;
    font-size:14px !important;
    display: inline-block;
    border-radius: 3px;    
}
.cv-show-area
{
    margin:15px 20px 10px 20px;
}
#cv-upload-container
{
    padding-top:5px !important;
}