/* css Page social connect*/

.social-auth .social-form {
    margin-top: 30px;
}

.social-auth input {
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #dadfea;
    padding-left: 15px;
    margin-bottom: 20px;
    outline: none;
    width: 45%;
}

.social-auth input[type="submit"] {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #3397db;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    box-shadow: none;
    padding: 8px 30px;
    margin-top: 10px;
    width: inherit;
    display: inline-block;
}

.social-auth p {
    margin: 10px 0;
    text-align: justify;
}

.social-small, .social-big {
    color: #7b7b7b;
}

.social-big {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0px 10px 0px;
}

.social-form input[type="text"] {
    margin-right: 10px;
}

.sign-in-social {
    position: absolute;
    top: 130px;
    z-index: 99;
}

.margintop20 {
    margin-top: 20px;
}

.sc_user_role {
    height: 35px;
    margin-right: 10px;
}

/*default style of social login button*/
ul.list-social-login {
    list-style: none;
    padding-left: 0;
}

#signInGoogleBtn{
    cursor: pointer;
}
.socials-head {
    color: #2c3e50;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.error .fre-chosen-single {
    border: 1px solid #ff0000;
}
.modal-setrole .modal-header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal-setrole .modal-footer{
    padding-top: 25px;
    padding-bottom: 25px;
    1border:0;
}
.fre-select-role {
    border-radius: 0;
    height: 45px;
}
.modal-setrole .chosen-container-single .chosen-single {
    border-radius: 0;
    /* height: 45px; */
    display: block;
    padding: 10px 10px;
    background: none;
    background-color: #fff;
    box-shadow: none !important;
    min-height: 45px;
    color:#666;
}
div.chosen-container-single.fre-select-role .chosen-single div b:before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    font-size: 14px;
    top: 10px;
    position: absolute;
}
.modal-setrole  .modal-body{
    padding-bottom: 30px;
}
.modal.modal-setrole {
    top:15%;
}
.modal-setrole .btn-close{
    height: 48px;
    padding:15px;

}