.breadscrums{
  margin-bottom: 40px;
  h2{
    font-size: $font-size-base;
    font-family: 'Open Sans', sans-serif;
    color: #aaafb3;
    i{
      padding: 0 12px;
    }
    .sub-caterogies{
      color: $blue-light-base;
    }
  }
}