//=== modal ae stripe
//
/* .modal-stripe, .modal-braintree {
	.modal-dialog {
		width: auto;
	}
	.modal-header {
		padding: 20px 35px 10px;
	}
	button.close {
		position: absolute;
		font-size: 20px;
	}
	.modal-body {
		padding: 10px 35px 20px;
		input[type="text"] {
			width: 100%;
			outline: none;
		}
	}
	button[type="submit"] {
		// padding: 12px 60px;
		// margin-bottom: 20px;
	}
	form {
		label {
			line-height: 1em;
		}
	}
	.plan_desc {
		display: block;
		p {
			margin: 5px 0 0;
			font-size: 16px;
			color: #666f78;
			line-height: 1em;
		}
	}
}

#stripe_modal .modal-header .close {
	width: auto !important;
	height: auto !important;
	top: 20px;
	right: 20px;
} */