.diplomat {
  .mjob-item {
    .status-label {
      right: 15px;
      top: 15px;
      span {
        border-radius: 5px !important;
        box-shadow: none;
      }
    }
  }
  .main-dashboard {
    .mjob-item {
      .status-label {
        left: 15px;
      }
    }
  }
}