
//=== Variable FRE
//
//=== font family 
$font_family_base: 							'Raleway', sans-serif;
$font_size_small:							12px;
$font_size_base: 							14px !default;
$font_size_medium:							16px;
$font_size_large: 							18px;

//= Color Background
//
$color_background:							#f9f9f9;

//= Color text
$color_text:								#2c3e50;
$color_text_1: 								#666f78;

$color_text_2: 								#415161;

//= Color hover
$color_skin: 								#1fbdbd;

//= Button one
$color_btn:									$color_skin;
$color_text_btn:							#FFFFFF;
$border_radius_btn:							4px;

//= Color validate
//
$color_valid:								#f44336;

//== Color btn disable
//
$color_btn_disable:							#cbc8c8;

//= Border radius
$border_radius_default:						4px;
$color_border_base: 						#dbdbdb !default;

$color_shadow_base: 						#b9b8b8 !default;
$color_top_shadow_base: 					#ededed !default;
