.mje-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Tooltip */
.tooltip {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.not-found{
  text-align: center;
  color: $dark-gray-base;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
}